<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Naturalista Demo</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-green.min.css" />
<link rel="stylesheet" href="webapp.css" />
<body ng-app="demo" class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	
		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Naturalista Demo</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
      </header>
      
      <main class="mdl-layout__content" ng-controller="DemoCtrl">
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
         <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Clasificar imagen</h4>
                Seleccione una imagen para clasificarla.
              </div>
              <div class="mdl-card__actions">
              	<form name="myForm">
                	<input type="file" ngf-select="uploadFiles($file)"
                	 accept="image/*" ng-model="image">
               	 	<img ng-show="image" ngf-src="image" style="max-width:500px">
                </form>
              </div>
            </div>
         </section>
         <section ng-show="ready" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
         	<div ng-repeat="(key, val) in predictionImages" class="mdl-card mdl-cell mdl-cell--4-col-desktop">
         		<div class="mdl-card__supporting-text">
                	<h4>{{val.name}}</h4>
					<img ng-src="{{val.imgUrl}}">
              	</div>
         		
         	</div>
         </section>
      </main>
	
	</div>

	<script src="libs/material-design-lite/material.min.js"></script>
	<script src="libs/angular/angular.js"></script>
	<script src="libs/ng-file-upload/ng-file-upload.js"></script>
	<script src="webapp.js"></script>
</body>
</html>